<template>
  <div>
    <h1>{{ name }}</h1>
    <el-button
      type="success"
      @click="openHellMsg"
      >Hello</el-button
    >
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { ElMessage } from 'element-plus'
const name = ref('Sophea')

const openHellMsg = () => {
  ElMessage({
    message: 'Hello, this is a success message.',
    type: 'success',
  })
}
</script>
