<template>
  <div>
    <h1>{{ name }}</h1>
    <el-button type="success">Add</el-button>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const name = ref('Sophea')
</script>

<style lang="scss" scoped></style>
