<template>
  <div>
    <h1>Todos</h1>
    <table>
      <tr>
        <td>Title</td>
        <td>
          <input
            v-model="form.title"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Body</td>
        <td>
          <input
            v-model="form.body"
            type="text"
          />
        </td>
      </tr>
    </table>
    <btn @click="onSubmit">Submit</btn>
    <hr />
    <h4>Check ready {{ ready }}</h4>
    <hr />
    <table border="1">
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <tr
        v-for="item in todos"
        :key="item._id"
      >
        <td>{{ item.title }}</td>
        <td>{{ item.body }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { Meteor } from 'meteor/meteor'
import { subscribe, autoSubscribe, autoResult } from 'meteor/vuejs:vue3'
import { ref, watch, reactive } from 'vue'
// collections
import Todos from '/imports/api/todos/collections'
export default {
  setup() {
    const { ready } = subscribe('todos')

    watch(ready, (value) => {
      console.log('loading:', !value)
    })

    const todos = autoResult(() => Todos.find({}))

    watch(todos, (value) => {
      console.log('todos subscribe!!!!!!!!')
      console.log(value.length)
    })

    const dataTable = ref([])

    const form = reactive({
      title: '',
      body: '',
    })

    const onSubmit = () => {
      if (form.title) {
        const doc = {
          title: form.title,
          body: form.body,
        }
        // onCreateTodo();
        Meteor.call('app.createTodo', { doc }, (res, err) => {
          if (err) {
            console.log(err)
          } else {
            form.title = ''
            form.body = ''
            console.log(res)
          }
        })
      } else {
        alert('Title is required')
      }
    }
    return {
      form,
      onSubmit,
      dataTable,
      ready,
      todos,
    }
  },
}
</script>
